nav {
  background: #e0e5ec;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border-bottom: 1px solid black; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav {
    justify-content: center;
  }
}

ul li {
  text-align: center;
  margin: 0;
}

ul li a {
  display: block;
  color: #333;
  padding: 12px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  background: #e0e5ec;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}

ul li a:hover {
  background-color: lightskyblue;
  color: #333;
  border-radius: 10px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: stretch;
  }

  nav ul li a {
    padding: 10px;
    font-size: 1rem;
  }
}
