.to-do-list {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e0e5ec;
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 100px;
}

.to-do-list h1 {
  margin-bottom: 10px;
  color: #333;
  font-size: 28px;
}

.to-do-list div {
  margin-bottom: 20px;
}

.to-do-list input {
  margin-right: 10px;
  padding: 6px 8px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: medium;
  background-color: #e0e5ec;
  color: #333;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.to-do-list .add-button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #e0e5ec;
  color: #333;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.add-button:hover {
  background-color: #4caf50;
  box-shadow: 2px 2px 5px #4caf50, -2px -2px 5px #ffffff;
  color: white;
}

.to-do-list ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e0e5ec;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.to-do-list .text {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.to-do-list .delete-button {
  margin-left: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #e0e5ec;
  color: #333;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
  background-color: #f44336;
  box-shadow: 2px 2px 5px #f44336, -2px -2px 5px #ffffff;
  color: white;
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.list-header select {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background-color: #e0e5ec;
  color: #333;
  font-size: medium;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.delete-list-button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-list-button:hover {
  background-color: #f44336;
  color: white;
}

.new-list-input {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.new-list-input input {
  margin-right: 5px;
  padding: 6px 8px;
  border: none;
  border-radius: 10px;
  background-color: #e0e5ec;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.create-new-list {
  margin-top: 15px;
}

.add-list-button {
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #333;
  transition: background-color 0.3s ease;
}

.add-list-button:hover {
  background-color: #4caf50;
  color: white;
}
